/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

body {
    width: 100%;
    height: 100%;
    background-image: url('./img/imgTpTodo\ .png');
    background-position: initial;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

h1 {
    color: white;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

/*Estilos de los inputs */
.input,
.item-input {
    width: 450px;
    height: 50px;
    margin: 5px;
    padding: 0px 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
}

.item-input {
    width: 400px;
}

/* Estilos de los botones */
.btn-agregar,
.boton-editar,
.boton-remover {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-agregar {
    background-color: rgb(255, 6, 46);
    color: white;
}

.btn-agregar:hover {
    opacity: 0.8;
}

.boton-editar,
.boton-remover {
    background-color: rgb(206, 220, 173);
    color: rgb(13, 12, 12);
}

.boton-editar:hover,
.boton-remover:hover {
    background-color: rgb(205, 213, 187);
}

.item {
    margin: 10px;
}

p {
    color: rgba(255, 255, 255, 0.822);
    font-family: 'Dancing Script', cursive;
    font-size: 2.3em;
    padding-top: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 360px) and (max-width:650px) {

    .body {
        overflow-x: hidden;
        display: flex;

    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container-ppal {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 1rem;
    }

    .input-div,
    .items-lista {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .input-div{
        display: flex;
        flex-direction: row;
    }

    .input,
    .item-input {
        width: 60%;
        height: 30px;
        
    }

    .item-input{
        width: 42%;
        font-size: 1em;
    }

    .boton-editar,
    .boton-remover,
    .btn-agregar {
        width: 30px;
        height: 30px;
        margin: 3px;
        border-radius: 5px;
    }

    p{
        font-size: 1.4em;
    }

    ::placeholder {
        font-size: 0.6em;
    }
}